<!-- <div> -->
<div id="main-container">
  <br>
</div>
<div class="divTable">
<button type="button" *ngIf="showUserBoard"    style="background-color:#FFB703;font-weight: bold;" class="btn" data-bs-toggle="modal"
  data-bs-target="#exampleModal">
  Ajouter un participant
</button>
</div>
<br><br>


    
<!--primfaces-->
<div class="divTable">
  <p-table  id="customers" [columns]="cols" [value]="participants"   sortMode="multiple" #dt [paginator]="true" [rows]="5">
    <ng-template  style="background-color: #8ECAE6;" pTemplate="caption">
       <b  style="color:#fb8500;font-weight: bold; font-size: 30px;">Liste des participants</b>
          </ng-template>
  
          <ng-template     pTemplate="header" let-columns>
            <tr >
                <th  scope="col" *ngFor="let col of columns"  [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon style="color:#fb8500;"  [field]="col.field"></p-sortIcon>
                </th> 
                <th>Details participant
                </th>
                
                <th *ngIf="showUserBoard"   >Modifier
                </th>
                <th *ngIf="showUserBoard"   >Supprimer </th>
            </tr>
  
            <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              </th>
              <th  *ngIf="showUserBoard"   style="text-align:center" >
               </th >
              <th style="text-align:center" >
                </th>
              <th  *ngIf="showUserBoard"   style="text-align:center" >
             
             </th>
          </tr>
               </ng-template>
   
  <ng-template pTemplate="body" let-participant  let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{participant[col.field]}}
      </td>

      <td align="center">  
        <a (click)="onOpenModal(participant, 'details')" style="background-color: #023047; text-align: center;
      
        justify-content: center;" class="btn  tooltips"    data-placement="top" data-original-title="Delete">  
           <mat-icon class="icon">remove_red_eye</mat-icon></a>
          </td>
      <td align="center" *ngIf="showUserBoard"  >  
        <a (click)="onOpenModal(participant, 'edit')" style="background-color: #023047; text-align: center;
      
        justify-content: center;" class="btn  tooltips"    data-placement="top" data-original-title="Delete">  
           <mat-icon class="icon">edit</mat-icon></a>
          </td>
      <td *ngIf="showUserBoard"  align="center">  
        <a (click)="onOpenModal(participant, 'delete')" style="background-color: #023047; text-align: center;
      
        justify-content: center;" class="btn  tooltips"    data-placement="top" data-original-title="Delete">  
           <mat-icon class="icon">delete_forever</mat-icon></a>
          </td>
         </tr>
  </ng-template>
  </p-table>
  </div>
  

<!-- 
  Modal -->
<div class="modal fade" id="exampleModal" style="z-index: 999999999;" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" style="color:#219EBC;" id="exampleModalLabel">Ajouter un participant</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form #addForm="ngForm" (ngSubmit)="onAddParticipant(addForm)">
          <div class="form-group">
            <label for="nom"   style="color:#219EBC;">Nom du participant</label>
            <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="Nom du participant" required>
          </div>
        
          <div class="form-group">
            <label for="prenom" style="color:#219EBC;" >Prenom du participant</label>
            <input type="text" ngModel name="prenom" class="form-control" id="prenom" placeholder="prenom" required>
          </div>
      
          <div class="form-group">
            <label   style="color:#219EBC;"for="organisme">Organisme</label>
            <select [ngModel]="organismes" name="organisme" id="organisme" class="form-select"
              aria-label="Default select example">
              <option [ngValue]="organisme" *ngFor="let organisme of organismes" value="{{organisme?.id}}">
                {{organisme?.libelle}}</option>
            </select>
          </div>
                   <div class="form-group">
            <label   style="color:#219EBC;"for="profil">Profil</label>
            <select [ngModel]="profils" name="profil" id="profil" class="form-select"
              aria-label="Default select example">
              <option [ngValue]="profil" *ngFor="let profil of profils" value="{{profil?.id}}">{{profil?.libelle}}
              </option>
            </select>
          </div>
                   <div class="form-group">
            <label   style="color:#219EBC;"for="pays">Pays</label>
            <select [ngModel]="pays" name="pays" id="pays" class="form-select" aria-label="Default select example">
              <option [ngValue]="pays" *ngFor="let pays of pays" value="{{pays?.id}}">{{pays?.libelle}}</option>
            </select>
          </div>
                 <div class="form-group">
            <label  style="color:#219EBC;" for="email">Email</label>
            <input type="text" ngModel name="email" class="form-control" id="email" placeholder="email" required>
          </div>  
          <div class="form-group">
            <label  style="color:#219EBC;" for="tel">Numéro téléphone</label>
            <input type="number" ngModel name="tel" class="form-control" id="tel" placeholder="tel" required>
          </div>
          <div class="form-group">
            <label   style="color:#219EBC;"for="tel">Type</label>
            <input type="text" ngModel name="type" class="form-control" id="type" placeholder="type" required>
          </div>
                  <div class="modal-footer">
            <button type="button" id="add-pays-form" class="btn btn-secondary" style="background-color:#fb8500;"  data-dismiss="modal">Annuler</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary"
            style="background-color:#219EBC;" >Ajouter</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!--fin modal-->


 

<!-- details model -->

<div class="modal fade" id="detailsParticipantModal" tabindex="-1" role="dialog" aria-labelledby="domaineEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h3 class="modal-title" style="color:#219EBC;" id="updateDomaineModalLabel">Details participant
          {{detailsParticipant?.nom}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
       <img src="/assets/pa.png"  alt="image"  style="height: 10%;width: 25%;margin-left: 35%;" > 
<br><br>

          <div class="form-group">
            <b>
              <h4 class="title1" for="nom" >Nom participant : </h4>
            </b>
            <b>
              <h4 class="title2" for="nom" > &nbsp;{{detailsParticipant?.nom}}</h4>
            </b>
          </div>
          <hr>
          <input type="hidden" ngModel="{{detailsParticipant?.id}}" name="id" class="form-control" id="id" placeholder="id">

          <div class="form-group">
            <b>
              <h2 class="title1" for="nom" >Prenom participant :</h2>
            </b>
            <b>
              <h4 class="title2" for="nom" > &nbsp;{{detailsParticipant?.prenom}}</h4>
            </b>

          </div>
          <hr>
          <div class="form-group">
         
            <b>
              <h4 class="title1" for="nom" >Email participant  : </h4>
            </b>
            <b>
              <h4 class="title2" for="nom" > &nbsp;{{detailsParticipant?.email}}</h4>
            </b>
          </div>
          <hr>
          <div class="form-group">
            <b>
              <h4 class="title1" for="nom" >Numéro participant : </h4>
            </b>
            <b>
              <h4 class="title2" for="nom" > &nbsp;{{detailsParticipant?.tel}}</h4>
            </b>
                    </div>
                    <hr>
          <div class="form-group">
            <b>
              <h4 class="title1" for="nom" >Type participant  : </h4>
            </b>
            <b>
              <h4 class="title2" for="nom" > &nbsp;{{detailsParticipant?.type}}</h4>
            </b>
           

          </div>
         
          
          <hr>
          <div class="form-group">
            <b>
              <h3 class="title1" for="nom" >Organisme participant  : </h3>
            </b>
            <b>
              <h3 class="title2" for="nom" > &nbsp;{{detailsParticipant?.organisme?.libelle}}</h3>
            </b>
   

          </div>

          <hr>
          <div class="form-group">
            <b>
              <h3 class="title1" for="nom" >Pays participant  : </h3>
            </b>
            <b>
              <h3 class="title2" for="nom" > &nbsp;{{detailsParticipant?.pays?.libelle}}</h3>
            </b>
   

          </div>
          <hr>
          <div class="form-group">
            <b>
              <h3 class="title1" for="nom" >Profil participant  : </h3>
            </b>
            <b>
              <h3 class="title2" for="nom" > &nbsp;{{detailsParticipant?.profil?.libelle}}</h3>
            </b>
   

          </div>
         
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary"
              style="background-color:#fb8500;">Fermer</button>

          </div>
     
      </div>
    </div>
  </div>
</div>

<!-- edit model -->
<div class="modal fade" id="updateParticipantModal" tabindex="-1" role="dialog" aria-labelledby="domaineEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h3 class="modal-title"  style="color:#219EBC;"   id="updateDomaineModalLabel">Modifier participant {{editParticipant?.nom}}</h3>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
           

              <div class="form-group">
                <label for="nom" style="color:#219EBC;">Nom</label>
                <input type="text"  ngModel="{{editParticipant?.nom}}" name="nom" class="form-control" id="nom" aria-describedby="emailHelp" placeholder="nom">
             </div>
             <input type="hidden" ngModel="{{editParticipant?.id}}" name="id" class="form-control" id="id" placeholder="id">
             
             <div class="form-group">
                <label for="prenom" style="color:#219EBC;">Prenom</label>
                <input type="text"  ngModel="{{editParticipant?.prenom}}" name="prenom" class="form-control" id="prenom" placeholder="prenom">
             </div>

             <div class="form-group">
                <label for="email">Email</label>
                <input type="email" ngModel="{{editParticipant?.email}}" name="email" class="form-control" id="email" placeholder="email">
             </div>
             <div class="form-group">
                <label for="tel" style="color:#219EBC;">Numéro telephone</label>
                <input type="number" ngModel="{{editParticipant?.tel}}" name="tel" class="form-control" id="tel" name="tel" placeholder="tel">
             </div>
             <div class="form-group">
               <label for="type" style="color:#219EBC;">Type</label>
               <input type="text" ngModel="{{editParticipant?.type}}" name="type" class="form-control" id="type" placeholder="type">
            </div>
            <div class="form-group">
              <label for="organisme" style="color:#219EBC;">Organisme</label>
              <select [ngModel]="organismes" name="organisme" id="organisme" class="form-select"
              aria-label="Default select example">
  
                <option [ngValue]="organisme" *ngFor="let organisme of organismes" value="{{organisme?.id}}">
                {{organisme?.libelle}}</option>
  
              </select>
            </div>
             <div class="form-group">
               <label for="pays"  style="color:#219EBC;">pays</label>
               <select [ngModel]="pays" name="pays" id="pays" class="form-select"
               aria-label="Default select example">
   
                 <option [ngValue]="pays" *ngFor="let pays of pays" value="{{pays?.id}}">
                 {{pays?.libelle}}</option>
   
               </select>
             </div>
             <div class="form-group">
               <label for="profil" style="color:#219EBC;">profil</label>
               <select [ngModel]="profils" name="profil" id="profil" class="form-select"
               aria-label="Default select example">
   
                 <option [ngValue]="profil" *ngFor="let profil of profils" value="{{profil?.id}}">
                 {{profil?.libelle}}</option>
   
               </select>
</div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary"  style="background-color:#fb8500;"  >Annuler</button>
                 <button (click)="onUpdateParticipant(editForm.value)"  style="background-color:#219EBC;"  data-dismiss="modal" class="btn " >Modifier</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

  

<!--delete-->
<div class="modal fade" id="deleteParticipantModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h3 class="modal-title"  style="color:#219EBC;"   id="deleteModelLabel">Supprimer participant</h3>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Êtes-vous sûr de vouloir supprimer le participant {{deleteParticipant?.nom}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" style="background-color:#219EBC;"  data-dismiss="modal">Annuler</button>
              <button (click)="onDeleteParticipant(deleteParticipant?.id)" class="btn btn-danger"   style="background-color:#fb8500;"  data-dismiss="modal">Supprimer</button>
           </div>
        </div>
     </div>
  </div>
</div>