
<br><br>

    <div class="wrapper" >
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 style="color:#FB8500 ;" class="m-0">Centre de formation</h1>
          </div><!-- /.col -->
       
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
      <div class="card card-success">
        <div class="card-body">
        <h2 style="color:#023047 ;">Bienvenue dans le centre de formation le plus populaire dans tout le monde.

        </h2>
        </div>
      </div>
     
    </div>
    </div>
    </div>
 
    <router-outlet></router-outlet>